@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,500&family=Secular+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    background: #ecf0f3;
    display: flex;
    justify-content: center;
    color: white;
    user-select: none;
  }

.container{
max-width: 900px;
width: 800px;
height: 100vh;
background: black;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.top button{
    width: 180px;
    height: 50px;
    font-size: 1.8rem;
    border: none;
    background: white;
}


.top h3{
    font-size: 1.8rem;
    font-weight: normal;
}

.secretNumber{
    width: 100%;
    background: rgb(255, 249, 249);
    padding: 2rem;
    font-size: 5rem;
    font-weight: bolder;
    box-shadow: inset 5px 5px 12px grey, inset -4px 4px 12px white;
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.section{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left input{
    display: block;
    width: 200px;
    height: 100px;
    background: transparent;
    border:none;
    box-shadow: inset -3px -3px 12px rgb(255, 255, 255),
                inset 3px 3px 12px rgb(2, 2, 2,0.3),
                 4px 4px 6px rgb(10, 10, 10,.3);

    font-size: 5rem;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
    border-radius: 10px;
    outline: none;
}

.left .check_btn{
    width: 150px;
    height: 50px;
    font-size: 2rem;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    line-height: 10px;
    
}

.left .reload{
    display: block;
    width: 150px;
    height: 50px;
    font-size: 2rem;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    line-height: 10px;
    margin-top: 4rem;
}

.right{
 padding: 1rem;
 height: 300px;
 display: flex;
 flex-direction: column;
}

.right .answer{
    margin-bottom: 2em;
    font-size: 2rem;
    padding: 1rem;
}
.right .scorelabel{
    font-size: 1.5rem;
    margin-top: 1rem;
}

@media (max-width:576px){
    .section{
        flex-direction: column;
    }

    .left input{
        margin: 0;
        margin-bottom: 1rem;
        font-size: 3rem;
        width: 150px;
        height: 80px;

    }
    .left{
        display: flex;
        flex-direction: column;
         text-align: center;
        margin-top: 10rem;
        justify-content: center;
    }

    .left .reload{
        display: none;
    }

    .right .scorelabel{
        font-size: 1.5rem;
        margin-top: 1rem;
        text-align: center;
    }

    .top .again-btn{
        width: 100px;
        border: none;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .top h3{
        font-size: 1.5rem;
        line-height: 50px;
    }
}