@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,500&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,500&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,500&family=Secular+One&display=swap');
/*font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Alfa Slab One', cursive;*/
html{
    scroll-behavior: smooth; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#home{
    min-height: 100vh;
    width: 100%;
}
#home .text{
    color: #e08505;
    cursor: pointer;
    transition: 1s ease-in-out;

}
#home .logo .quote{
   align-self: flex-end;

}

#home .logo .quote h6{
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    color: #a05e03;
    text-shadow: 0 1px 3px rgb(37, 37, 34),
    2px 2px 2px rgb(37, 37, 34),
    3px 3px 2px rgb(37, 37, 34);
    width: 0ch;
    white-space:nowrap;
    overflow: hidden;
    transition: 1s ease-in-out;
}

#home .logo .text:hover + .quote h6{
    width: 16ch;
}
span{
    font-family: 'Alfa Slab One', cursive;
    color: #a05e03;
}
#home #navbar{
    background: #a05e03;
    z-index: 2;
}

.sticky{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    box-shadow: 0px 4px 10px black;
}
.cart{
    font-size: 2rem;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.cart-count{
    height: 20px;
    width: 20px;
    background: red;
    position: absolute;
    font-size: 1rem;
    left: 20px;
    top: -8px;
    padding: 0.1rem;
    border-radius: 50%;
    text-align: center;
    line-height: 98%;
}

.cart-box h3{
    font-size: 1.2rem;
    text-align: center;
    padding: 0.6rem !important;
    width: 100%;

}

.cart-box-use{
    width: 350px;
    height: 100vh;
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
}

.cartBoxActive{
    transform: translateX(0);
}

.cart-box-use .cart_close_btn{
    font-size: 2rem;
    background: green;
    color: white;
}
.cart-box-use .cart_close_btn:hover{
      background: rgb(255, 0, 0);
}
.cart-box-use .cart_close_btn:active{
    background: rgb(238, 74, 74);
}

.cart-box-use .carthead{
    display: flex;
    border-bottom: 2px solid rgb(204, 196, 212);
}

.cart-box-use .carthead .carth2{
    padding-left: 5rem;
    color: #a05e03;
    font-weight: 600;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
nav ul li{
    transition: 0.2s ease;
    margin-left: 1rem;
}

nav ul li:hover{
    background: red;
    box-shadow: 2px 2px 5px black;
    border-radius: 0.6rem;
}

#navbar #nav-tabs .active{
    background: rgb(245, 0, 0);
    box-shadow: 2px 2px 5px black;
    border-radius: 0.6rem;
}

nav ul li:active{
    box-shadow: none;
}
#btn{
    background: #a05e03;
    color: white;
}


.right-img{
    width: 400px;
    padding: 1.5rem;

}

/**************About**************/

#about{
    min-height: 100vh;
    background: rgb(250, 249, 249);
}
#about .container{
    padding-top: 2rem;
}
#about .ab-img{
    border-radius: 2.5rem !important;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.603);
    width: 75%;
 }

#grid-con #grid-img{
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    padding: 0.5rem;
 }
 #grid-img .img-fluid:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
 }

#grid-img .img-fluid{
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.473);
    border-radius: 0.3rem;
}

#grid-con h1{
    font-weight: 700;
    color: #a05e03;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(211, 211, 211);
}
#grid-con{
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 1rem;
}


/**************About**************/

/**************Products**************/
#products{
   min-height: 100vh;
   position: relative;
   user-select: none;
}

.title{
    display: block;
    margin-top: 2rem;
}
#products .title{
    background-image: linear-gradient(to bottom, #ffffff, #f1f1f1, #e4e4e4, #d6d6d6, #c9c9c9);
}
.title h1{
    text-align: center;
    padding: 0.5rem;
    font-weight: 700;
    color: #a05e03;
}

#products .container{
    padding: 1.5rem;
}

#products .container .shop-contend{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    column-gap: 2rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}
#products .container img{
    width: 100%;
}

#products .container .shop-contend .honey-box{
    background: rgb(245, 234, 213);
    padding: 1rem;
    position: relative;
 
}

#products .container .shop-contend .honey-box .pic{
    border: 1px solid rgb(219, 109, 5);
    padding: 1rem;
}
#products .container .shop-contend .honey-box .pic img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
#products .container .shop-contend .honey-box h2{
    color: rgb(219, 109, 5);
    font-size: 1.3rem;
    padding-top: 0.8rem;
    font-weight: 600;
}

#products .container .shop-contend .honey-box .cart-btn{
    font-size: 1.6rem;
    position: absolute;
    right:0;
    bottom: 0px;
    background: rgb(243, 130, 0);
    padding: 0.5rem;
    transition: 0.2s ease-in;
    color: white;
    cursor: pointer;
}
#products .container .shop-contend .honey-box .cart-btn:hover{
    background: tomato;
}

#products .container .shop-contend .honey-box h6{
    font-weight: 700;
    font-size: 1rem;
    padding-top: 1rem;
}

#products .container .shop-contend .honey-box span{
    color: rgb(78, 74, 74);
    font-weight: 400;
    font-family: poppins;
    font-size: 0.8rem;
}

.addtocarts{
    border-radius: 0.5rem;
    border: 1px solid red;
    width: 300px;
    height: 40px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.445);
    visibility: hidden;
}

#btn1{
    color: red;
    font-size: 2rem;

}

.addtocarts p{
    font-size: 1.2rem;
    padding: 0.3rem;
}

.additems{
    visibility: visible;
}

/**************Media Query***************/

@media (max-width:990px) {
    #navbar .cart{
        position: absolute;
        top: 10px;
        left: 50%;
    }
}

/**************Contact***************/

#contact{
    min-height: 90vh;
}

#contact h1{
    text-align: center  ;
    display: block;
}
#contact .container{
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.address-box{
    margin:0.5rem;
    background-image: linear-gradient(to right top, #979797, #b0b0b0, #cacaca, #e4e4e4, #ffffff);
    border-radius: 1rem;
    cursor: pointer;
}
.address-box .icon{
    font-size: 1.3rem;
    padding: 0.3rem;
}

.address-box h4{
    color: #a05e03;
    font-size: 1rem;
    padding: 0.3rem;
    font-weight: 700;
}
.address-box p{
    color: white;
}

.social .fas{
    width: 50px;
    margin-top: 1rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/**************Message**************/

#contact .form-boxs h2{
    text-align: start;
    font-size: 1.3rem;
    padding-left: 0.6rem;
    margin-bottom: 1rem;
    color: #a05e03;
    font-weight: 700;
    
}
#contact .form-boxs{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 300px;
    width: 450px;
    cursor: pointer;
}

#contact .form-boxs .form-control{
display: flex;
flex-direction: column;
gap: 0.5rem;
border: none;
width: 400px;
}

#contact .form-boxs .form-control input{
    border: none;
    border-bottom: 2px solid rgb(139, 139, 139);
    margin-bottom: 1.5rem;
    padding-bottom: 0.6rem;
    outline: none;
    
}

#contact .form-boxs .form-control textarea{
    border: none;
    border-bottom: 2px solid rgb(139, 139, 139);
    outline: none;
}

#contact .form-boxs .form-control button{
    width: 100px;
    margin-top: 1rem;
}

/************Footer*******************/
#contact .footer{
    background: #000330;
    height: 240px;
}
#contact .footer .container{
    background: #000330;
    border-radius: 0;
    color: white;
    padding: 1rem;
    cursor: pointer;
}

#contact .footer .container ul li a{
    color:white;
    font-size: 0.9rem;
    transition: 0.25s ease-in;
}
#contact .footer .container ul li a:hover{
    color: red;
}
#contact .footer h5{
    font-size: 1rem;
}

#contact .footer h4:hover{
    color: #a05e03;
}

.cart-img{
    width: 80px;
    height:80px;
    object-fit: cover;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #f0f0f0;
}
.cart-boxes{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0.5rem;
    user-select: none;
}

.Cart-title{
    color: #a05e03;
    margin-bottom: 1rem;
    font-weight: 500;
    
}

.cart-boxes .price{
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    color: #000000;
}

.cart-boxes .cart-quantity{
    width: 40px;
    outline: none;
    border: 1px solid  rgba(0,0,0,0.1);
}

.cart-boxes .carttrash{
    color: rgb(255, 0, 0);
    cursor: pointer;
    font-size: 1.3rem;
}

.total{
display: flex;
justify-content: flex-end;
align-items: center;
margin-top: 1rem;
}

.total-title{
font-size: 1.2rem;
font-weight: 600;

}

.total-price{
margin-left: 1rem;
margin-right: 1.5rem;

}

.btn-buy{
outline: none;
background: black;
color: white;
font-weight: 600;
padding: 5px 10px;
margin-left: 1rem;
cursor: pointer;
}


#liveToast{
    background: #00bf73b9 !important;
}

#liveToast .toast-body{
    font-size: 1rem;
    color: #000330 !important;
}

#canvas{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}